### **Chapter 02. 데이터 확인하기**

In [2]:
import pandas as pd

dust = pd.read_excel("(Dataset) Lecture 12 - 환경 관련 데이터/dust.xlsx")
dust.head(3)

              날짜  아황산가스  일산화탄소     오존  이산화질소  PM10  PM2.5
0  2021-01-01 01  0.004    0.4  0.021  0.018   NaN   12.0
1  2021-01-01 02  0.004    0.4  0.019  0.020  20.0   13.0
2  2021-01-01 03  0.004    0.5  0.017  0.023  23.0   13.0

In [3]:
dust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      744 non-null    object
 1   아황산가스   740 non-null    float64
 2   일산화탄소   740 non-null    float64
 3   오존      740 non-null    float64
 4   이산화질소   740 non-null    float64
 5   PM10    725 non-null    float64
 6   PM2.5   739 non-null    float64
dtypes: float64(6), object(1)
memory usage: 40.8+ KB

In [4]:
dust.describe()

            아황산가스       일산화탄소          오존       이산화질소        PM10       PM2.5
count  740.000000  740.000000  740.000000  740.000000  725.000000  739.000000
mean     0.003654    0.563243    0.014154    0.030422   33.325517   21.833559
std      0.000628    0.164593    0.010689    0.014664   19.930029   12.222892
min      0.002000    0.300000    0.001000    0.006000    3.000000    3.000000
25%      0.003000    0.400000    0.003000    0.017000   20.000000   13.000000
50%      0.004000    0.500000    0.014000    0.030000   29.000000   19.000000
75%      0.004000    0.700000    0.024000    0.043000   43.000000   29.000000
max      0.006000    1.200000    0.037000    0.063000  163.000000   72.000000

In [5]:
dust.columns

Index(['날짜', '아황산가스', '일산화탄소', '오존', '이산화질소', 'PM10', 'PM2.5'], dtype='object')

In [6]:
dust.rename(columns={'날짜':'date',
                     '아황산가스':'so2', 
                     '일산화탄소':'co', 
                     '오존':'o3', 
                     '이산화질소':'no2'}, inplace=True)

dust.head(3)

            date    so2   co     o3    no2  PM10  PM2.5
0  2021-01-01 01  0.004  0.4  0.021  0.018   NaN   12.0
1  2021-01-01 02  0.004  0.4  0.019  0.020  20.0   13.0
2  2021-01-01 03  0.004  0.5  0.017  0.023  23.0   13.0

In [7]:
dust["date"] = dust["date"].str[0:11] # year-month-day만 추출!

dust.head(3)

          date    so2   co     o3    no2  PM10  PM2.5
0  2021-01-01   0.004  0.4  0.021  0.018   NaN   12.0
1  2021-01-01   0.004  0.4  0.019  0.020  20.0   13.0
2  2021-01-01   0.004  0.5  0.017  0.023  23.0   13.0

In [ ]:
dust.info()

In [ ]:
dust["date"] = pd.to_datetime(dust["date"])
dust.info()

In [ ]:
print(dust["date"].dt.year)
print(dust["date"].dt.month)
print(dust["date"].dt.day)

In [ ]:
dust.head(3)

In [ ]:
dust["year"] = dust["date"].dt.year
dust["month"] = dust["date"].dt.month
dust["day"] = dust["date"].dt.day

dust.head(3)

In [ ]:
dust.columns

In [ ]:
dust = dust[['date', 'year', 'month', 'day', 'so2', 'co', 'o3', 'no2', 'PM10', 'PM2.5']]

dust.head(3)

In [ ]:
# Not Available --> NA --> 결측값
dust.isna().sum()

In [ ]:
dust.head()
# NaN --> Not a Number --> 결측값

In [ ]:
# dust.dropna()

# 패딩(padding) --> "pad" --> NAN이 있었던 행의 바로 앞 행의 값으로 채움!
# front + fill --> "ffill"
# back + fill --> "bfill"
dust = dust.fillna(method="pad") # "pad" <-- 기본값이 "ffill"

dust.head()

In [ ]:
dust = dust.fillna(method="bfill") # "backfill" or "bfill"

dust.head()

In [ ]:
r'''
경고 의미

C:\Users\user\AppData\Local\Temp\ipykernel_17432\1376247097.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dust = dust.fillna(method="pad") # "pad" <-- 기본값이 "ffill"

C:\Users\user\AppData\Local\Temp\ipykernel_17432\3301697547.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dust = dust.fillna(method="bfill") # "backfill" or "bfill"
'''

# (X) dust.fillna(method="pad")
'''
앞으로는 아래의 방식을 사용해야 함(내년 즈음...?)
'''
# (O) dust.ffill()
# (O) dust.bfill()

dust.isna().sum()

In [ ]:
weather = pd.read_excel("(Dataset) Lecture 12 - 환경 관련 데이터/weather.xlsx")
weather

In [ ]:
weather.info() # 2021-01-31 24:00:00은 2월로 봐서 row의 개수가 743

In [ ]:
weather.drop(["지점", "지점명"], axis=1, inplace=True)

weather.head(3)

In [ ]:
weather.columns

In [ ]:
weather.columns = ["date", "temp", "wind", "rain", "humid"]
weather.head(3)

In [ ]:
weather.info()

In [ ]:
weather["date"] = weather["date"].dt.date
weather.head(3)

In [ ]:
weather.info()

In [ ]:
weather["date"] = pd.to_datetime(weather["date"])
weather.info()

### **Chapter 03. 데이터 병합**

In [ ]:
# 행의 개수가 다르다!
print(dust.shape) # 2021-01-31 24:00:00 저장됨!
print(weather.shape) # 2021-01-31 24:00:00 저장 안 됨!

In [ ]:
dust.tail(3)

In [ ]:
dust.drop(index=743, axis=0, inplace=True)
dust.tail(3)

In [ ]:
df = pd.merge(dust, weather, on="date")
df.head(3)

In [ ]:
df.info()

In [ ]:
df.shape

### **Chapter 04. 데이터 분석 및 시각화**

In [ ]:
df.corr() # 문자열이 있으면 drop 시키고 corr()해야 함

In [ ]:
corr = df.corr()
corr["PM10"]

In [ ]:
corr = df.corr()
corr["PM10"].sort_values(ascending=False) # 내림차순 정렬!

In [ ]:
corr["PM2.5"].sort_values(ascending=False)

In [ ]:
# corr을 볼 때는 인과관계로 보면 안 되고, 상관관계에 대해서만

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure()

# histogram
df.hist(bins=50)

plt.show()

In [ ]:
df.columns

In [ ]:
plt.figure()

# histogram
df[['so2', 'co', 'o3', 'no2', 'PM10', 'PM2.5', 'temp', 'wind', 'rain', 'humid']].hist(bins=50)

plt.show()

In [ ]:
plt.figure(figsize=(10,4))

sns.barplot(data=df, x="day", y="PM10")

plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10,4))

sns.barplot(data=df, x="day", y="PM10", hue="day", palette="Spectral", legend=False)

plt.grid()
plt.show()

In [ ]:
df.head()

In [ ]:
df.corr()

In [ ]:
corr = df.drop(["date", "year", "month", "day"], axis=1).corr()
corr

In [ ]:
plt.figure()

sns.heatmap(data = corr, annot=True, cmap="Greens", fmt=".2f") # format

plt.show()

In [ ]:
plt.figure(figsize=(10, 4))

plt.scatter(df["temp"], df["PM10"], c="blue", s=2, alpha=0.3)

plt.xlabel("Temperature")
plt.ylabel("PM10")
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 4))

plt.scatter(df["wind"], df["PM10"], c="red", s=2.5, alpha=0.3)

plt.xlabel("Wind Speed")
plt.ylabel("PM10")
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 4))

plt.scatter(df["rain"], df["PM10"], c="green", s=4.5, alpha=0.3)

plt.xlabel("Rainfall")
plt.ylabel("PM10")
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 4))

plt.scatter(df["humid"], df["PM10"], c="orange", s=8.5, alpha=0.3)

plt.xlabel("humid")
plt.ylabel("PM10")
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 4))

plt.scatter(df["PM10"], df["PM2.5"], c="blue", s=8, alpha=0.3)

plt.xlabel("PM10")
plt.ylabel("PM2.5")
plt.grid()
plt.show()