### **Chapter 0**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("(Dataset) Lecture 12 - 환경 관련 데이터/dust.xlsx")
df

                날짜  아황산가스  일산화탄소     오존  이산화질소  PM10  PM2.5
0    2021-01-01 01  0.004    0.4  0.021  0.018   NaN   12.0
1    2021-01-01 02  0.004    0.4  0.019  0.020  20.0   13.0
2    2021-01-01 03  0.004    0.5  0.017  0.023  23.0   13.0
3    2021-01-01 04  0.004    0.5  0.015  0.024  17.0   12.0
4    2021-01-01 05  0.004    0.5  0.010  0.026   NaN   14.0
..             ...    ...    ...    ...    ...   ...    ...
739  2021-01-31 20  0.004    0.7  0.002  0.057  45.0   23.0
740  2021-01-31 21  0.004    0.8  0.001  0.059  48.0   27.0
741  2021-01-31 22  0.003    1.0  0.001  0.061  46.0   26.0
742  2021-01-31 23  0.003    0.6  0.006  0.049  45.0   24.0
743  2021-01-31 24  0.003    0.7  0.005  0.054  40.0   19.0

[744 rows x 7 columns]